name: Sync Image to Aliyun  Example

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Git pull
      uses: actions/checkout@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1

    - name: Login to Docker Hub
      uses: docker/login-action@v2.2.0
      with:
        registry: registry.cn-hangzhou.aliyuncs.com
        username: t_1525525349649_0686-cqq
        password: Aliyun@bzh7zh7b
        logout: false
        
    - name: Use Skopeo Tools Sync Image to Docker Hub
      run: |
         skopeo copy docker://docker.io/php:7.4-fpm docker://registry.cn-hangzhou.aliyuncs.com/ck_docker_image/php:7.4-fpm
         skopeo copy docker://docker.io/nginx:latest docker://registry.cn-hangzhou.aliyuncs.com/ck_docker_image/nginx:latest
         skopeo copy docker://docker.io/linuxserver/qbittorrent docker://registry.cn-hangzhou.aliyuncs.com/ck_docker_image/linuxserver/qbittorrent
      # 使用 skopeo 工具将镜像同步到阿里云个人仓库中，使用时请自行源和目标修改仓库名称和镜像名称
